.log-in {
  border: 2px solid black;
  width: 25%;
  margin: auto;
  height: 250px;
  padding: 2em;
  background: #FBF9FF;

  button {
    margin: auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  p {
    text-align: center;
  }
}
